*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.boby{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #2A56C4 20%, #1A202C 60%, #2D3748 100%);
    background-size: 200% 200%;
    animation: gradient-animation 10s ease infinite;
    padding: 20px;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.boby .login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 448px;
}
.boby .login-container img{
    width: 178px;
    height: 35px;
    margin-bottom: 10px;
}
.boby .login-container .login-form{
    background-color: #ffffff;
    width: 448px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 16px;
    align-items: center;
    /* justify-content: center; */
}
.login-form .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.login-form .header h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;

}
.login-form .header p{
    color: #9CA3AF;
}
.input-field p{
    margin-bottom: 5px;
}
.input-field .input-wrapper{
    position: relative;
    display: flex;
    align-items: center;
}

.input-field .input-wrapper .password-icon{
    position: absolute;
    left: 16px;
    z-index: 1;
    pointer-events: none;
    top: 14px;
}
.input-field .input-wrapper .eye-icon{
    position: absolute;
    right: 15px;
    z-index: 1;
    pointer-events: none;
    top: 14px;
}
.input-field .input-wrapper .user-icon{
    position: absolute;
    left: 16px;
    z-index: 1;
    pointer-events: none;
    top: 14px;
}
.input-field .input-wrapper .emial-icon{
    position: absolute;
    left: 16px;
    z-index: 1;
    pointer-events: none;
    top: 14px;
}
.input-field .input-wrapper span:last-of-type {
    left: unset;
    right: 16px;
}
.input-field .input-wrapper fa-icon{
    color: #999;
    font-size: 16px;
}
.boby .login-form input{
    width: 384px;
    height: 50px;
    border-radius: 16px;
    outline: none;
    border: 2px solid #eee;
    padding: 12px 16px 12px 48px;
    margin-bottom: 10px;
}
.boby .login-form .name{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}
.boby .login-form .name .input-field .input-wrapper input{
    width: 184px;
    height: 50px;
    border-radius: 16px;
    outline: none;
    border: 2px solid #eee;
    padding: 12px 16px 12px 48px;
    margin-bottom: 10px;
}
.boby .login-form input:focus {
    border-color: #1A73E8;
}

.forget{
    color: #1A73E8;
    font-size: 14px;
    position: relative;
    right: -130px
}
.login-btn{
    background-color: #1A73E8;
    color: #ffffff;
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.no-account span{
    color: #1A73E8;
    margin-top: 10px;
}
.steps{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

}
.step-1,.step-2{
    color: #ffffff;
    background-color: #1A73E8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-1.active-step, .step-2.active-step {
    background-color: #1A73E8;
    color: #ffffff;
}

.step-1.completed-step {
    background-color: #1A73E8;
    color: #ffffff;
}

.step-1.completed-step fa-icon {
    color: #ffffff;
}

.step-2{
    color: #9CA3AF;
    background-color: #E5E7EB;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step-{
    height: 2px;
    width: 64px;
    background-color: #E5E7EB;
}
.active{
    display: flex;
}
.un-active{
    display: none;
}