
<app-navbar></app-navbar>
<div class="container-fluid bg-light min-vh-100 ">
  <div class="row">
    <!-- Mobile Menu Button -->
    <div class="d-md-none mb-3">
      <button class="btn btn-light border-0" (click)="toggleSidebar()">
        <i class="bi bi-list fs-3"></i>
      </button>
    </div>

    <!-- Dashboard Sidebar -->
    <div class="col-md-3 mb-4">
      <app-dashboard-sidebar
        [isOpen]="isSidebarOpen()"
        (closeSidebar)="closeSidebar()"
      />
    </div>

    <!-- Main Content -->
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

